.form-horizontal {
    overflow: auto;
    max-height: 450px;
    height: auto;
    width: 100%;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.chat {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 4px;
}

.messages {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.message {
    border-radius: 10px !important;
    margin-bottom: 40px;
    display: inline-block;
}

.card {
    border-radius: 10px 10px 0 0 !important;
    right: 5%;
    height: 100%;
    width: 110%;
    background-image: #eee;
}

.contacts_body {
    padding: 0.75rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
}

.msg_card_body {
    font-size: 14px;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.card-header {
    border-radius: 10px 10px 0 0 !important;
    border-bottom: 0 !important;
    background: white;
}

.card-footer {
    bottom: 0;
    position: fixed;
    border-top: 0;
    width: 80%;
    background: #fff;
}

.container {
    align-content: center;
}

.search {
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
}

.search:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.type_msg {
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    height: 40px !important;
    overflow-y: auto;
}

.type_msg:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.attach_btn {
    /* border-radius: 15px 0 0 15px !important; */
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    border: 1 !important;
    color: #000 !important;
    cursor: pointer;
}

.send_btn {
    /* border-radius: 0 10px 15px 0 !important; */
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    border: 1 !important;
    color: #000 !important;
    cursor: pointer;
}

.search_btn {
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.contacts {
    list-style: none;
    padding: 0;
}

.contacts li {
    width: 100% !important;
    padding: 5px 10px;
    margin-bottom: 15px !important;
}

.active {
    background-color: rgba(0, 0, 0, 0.3);
}

.user_img {
    margin-top: -12px;
    height: 62px;
    width: 70px;
}

.user_img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition-duration: 0.5s;
}

.user_img_msg {
    height: 40px;
    width: 40px;
    border: 1.5px solid #f5f6fa;
}

.bot_img_msg {
    height: 40px;
    width: 40px;
    border: 1.5px solid #f5f6fa;
}

.img_cont {
    height: 40px;
}

.img_cont_msg {
    height: 40px;
    width: 40px;
}

.img_bot_cont_msg {
    height: 40px;
    width: 40px;
    top: 0px;
}

.online_icon {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 0.6em;
    right: 1em;
    border: 1.5px solid white;
}

.offline {
    background-color: #c23616 !important;
}

.user_info {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}

.user_info span {
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.user_info p {
    font-size: 10px;
    color: grey;
}

.video_cam {
    margin-left: 50px;
    margin-top: 5px;
}

.video_cam span {
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
}

.msg_cotainer {
    margin-bottom: auto;
    margin-left: 45px;
    border-radius: 10px;
    background: #eeefff;
    padding: 10px;
    top: 40px;
    position: relative;
    cursor: pointer;
}

.msg_cotainer_send {
    margin-bottom: auto;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 10px;
    background: #3583fb;
    padding: 10px;
    position: relative;
    color: white;
}

.msg_time {
    position: absolute;
    left: 0;
    bottom: -15px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
}

.msg_time_send {
    position: absolute;
    right: 0;
    bottom: -15px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 10px;
}

.msg_head {
    position: relative;
}

#action_menu_btn {
    position: absolute;
    right: 10px;
    top: 0;
    color: black;
    cursor: pointer;
    font-size: 20px;
}

.action_menu {
    z-index: 1;
    position: absolute;
    padding: 15px 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 15px;
    top: 30px;
    right: 15px;
    display: none;
}

.action_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.action_menu ul li {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 5px;
}

.action_menu ul li i {
    padding-right: 10px;
}

.action_menu ul li:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
}

@media(max-width: 576px) {
    .contacts_card {
        margin-bottom: 15px !important;
    }
}


/*scroll custom*/

header {
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 25px;
}

#info {
    font-size: 18px;
    color: #555;
    text-align: center;
    margin-bottom: 25px;
}

a {
    color: #074E8C;
}

.scrollbar {
    margin-left: 30px;
    float: left;
    height: 300px;
    width: 65px;
    background: #F5F5F5;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.force-overflow {
    min-height: 450px;
}


/*
 *  scrollcustom
 */

#scrollcustom::-webkit-scrollbar-track {
    background-color: #F5F5F5;
    border-radius: 10px;
    behavior: smooth;
}

#scrollcustom::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
    behavior: smooth;
}

#scrollcustom::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
}

.emojionearea {
    border-radius: 100px;
}


/**/